{% extends "admin/base_site.html" %}
{% block extrastyle %}

{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}"> Documentation</a> / {% endif %}Change password / <a href="{% url 'admin:logout' %}">Log out</a>{% endblock %}
{% block content %}
      
<body class="hold-transition sidebar-mini layout-fixed" >
        <div class="wrapper">
        
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">

                </div><!-- /.col -->
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    {% if not is_popup %}
                      {% block breadcrumbs %}
                      <div class="breadcrumbs">
                        <a href="{% url 'admin:index' %}">Home</a>
                        &rsaquo;Password change
                      </div>
                      {% endblock %}
                    {% endif %}

                  </ol>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->
          <section class="content">
            <div class="container-fluid">
              <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                  <!-- general form elements -->
                  <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">Change Password</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <p style="padding: 10px;color: green;">Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly</p>
                    <form method="post" id="quickForm">{% csrf_token %}
                        {% if form.errors %}
                            <p class="errornote">
                                {% if form.errors.items|length == 1 %}<div style="color: red;padding-left: 10px;">Please correct the error below.</div>{% else %}<div style="color: red;padding-left: 10px;">Please correct the errors below</div>{% endif %}
                            </p>
                        {% endif %}
                      <div class="card-body">
                        <div class="form-group">
                            <label for="oldPassword">Old Password :&nbsp;</label>
                            <!-- {{ form.old_password }} -->
                            <input type="password" class="form-control" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
                            <div style="color: red;">{{ form.old_password.errors }}</div>
                        </div>
                        
                        <div class="form-group">
                            <label for="newPassword">New Password :&nbsp;</label>
                            <!-- {{ form.new_password1 }} -->
                            <input type="password" class="form-control" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                            <div class="help">{{ form.new_password1.help_text|safe }}</div>
                            <div style="color: red;">{{ form.new_password1.errors }}</div>
                        </div>
                        <div class="form-group">
                            <label for="reTypenewPassword">Re-type New Password :&nbsp;</label>
                            <!-- {{ form.new_password2 }} -->
                            <input type="password" class="form-control" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                            {% if form.new_password2.help_text %}
                            <div class="help">{{ form.new_password2.help_text|safe }}</div>
                            {% endif %}
                            <div style="color: red;">{{ form.new_password2.errors }}</div>
                          </div>
                      </div>
                      <!-- /.card-body -->
      
                      <div class="card-footer">
                        <input type="submit" value="Change my password" class="btn btn-primary">
                      </div>
                    </form>
                  </div>
                  </div>
                  </div>
                  </div>
                  </section>

        </div>
        <!-- content wrapper -->
    </div>
    </body>
{% endblock %}